<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=title %></title>
    <%- include('partials/head') %>
  </head>
  <%- include('partials/navigation') %>
  <body>
    <main
      class="vh-100 container pt-2 text-center d-flex justify-content-center align-items-center"
    >
      <section>
        <h1 class="display">About</h1>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ut,
          adipisci. Numquam nobis quos voluptates id cum quam ipsa perspiciatis
          esse tenetur, laboriosam ratione odio neque culpa fugiat asperiores
          corrupti velit reiciendis? Debitis dolore at tenetur. Officiis
          voluptatibus iste cumque omnis, nesciunt sed obcaecati at optio alias
          laboriosam id numquam deleniti nobis nostrum quaerat sunt tempora
          repudiandae incidunt impedit tempore maiores rem neque nam nulla.
          Commodi est vel aliquid ex nobis dicta quae architecto? Harum cumque
          iste nihil, accusantium odio nulla id nam repudiandae culpa veniam
          labore minus placeat eligendi, ut libero dolores. Ad ducimus tempora
          doloribus harum esse at nostrum illo aperiam? Ad dolore odio vero sint
          nulla repellat veritatis eius eum soluta, nemo labore non, obcaecati
          reprehenderit perspiciatis enim quisquam, earum cum. Culpa, quod
          voluptate numquam tempora perspiciatis omnis praesentium quo, iure
          velit aut nisi? Voluptatum beatae ut at exercitationem iure natus quos
          blanditiis aliquid sed perspiciatis, mollitia aliquam optio ea
          quibusdam necessitatibus quae distinctio laudantium numquam molestias.
          Suscipit obcaecati cumque dolorum corrupti minima consectetur,
          molestias mollitia quaerat a, nesciunt ducimus quasi doloremque optio
          fugiat deleniti, voluptatem eveniet pariatur nobis ipsam. Hic labore
          est molestiae. Harum eligendi nulla, inventore quas temporibus est,
          doloribus repudiandae labore iusto omnis animi dolore!
        </p>
      </section>
    </main>
    <%- include('partials/footer') %>

  </body>
</html>
