<footer class="bg-info text-center p-2">
  <p class="h4">
    Copyright &copy; 1990-2014 Waldir Mh, todos los derechos reservados.
  </p>
</footer>
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N"
  crossorigin="anonymous"
></script>
